<section class="project-section">
    <div class="section-header">
        <h2 class="title">ATELIER PROJECTS</h2>
        <hr class="title-divider">
    </div>

    <div class="project-grid">
        
        <a href="/project-alpha/" class="project-card">
            <div class="card-image">
                <img src="/assets/images/mao_temp.jpg" alt="Project Alpha">
            </div>
            <div class="card-info">
                <p class="date">Dev Started: 2025.09</p>
                <h3>Project Arimu</h3>
            </div>
        </a>

    </div>

    <div class="view-more-container">
        <button class="btn-view-more">VIEW MORE PROJECTS +</button>
    </div>
</section>